[Unit]
Description=zookeeper

[Service]
Type=simple
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker run --rm \
                              --name zookeeper-%i \
                              --env ZK_SERVER_NUMBER=`echo %m | head -c6` \
                              --hostname %H \
                              --publish 2181:2181 \
                              --publish 2888:2888 \
                              --publish 3888:3888 \
                              --volume /var/lib/zookeeper:/var/lib/zookeeper \
                              makerbot/zookeeper:latest

ExecStop=/usr/bin/docker stop zookeeper-%i

[X-Fleet]
X-Conflicts=zookeeper@*.service
